.nav {
  width: 15%;
  min-width: 140px;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  color: $tertiary-color;

  ul {
    list-style: none;
  }

  a:link {
    color: $primary-color;
    text-decoration: none;
  }
  a:visited {
    color: $tertiary-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}